#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.nav {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #3f51b512;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.active {
  background-color: #2196f3;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 1.2em;
}
form {
  border: 3px solid #f1f1f1;
  display: inline-block;
  width: 500px;
  padding: 10px;
}

.cancelbtn {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.update-icon {
  background-color: white;
  border: none;
  float: right;
}

.submitbtn {
  background-color: #04aa44;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.updatebtn {
  background-color: #047baa;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.deletebtn {
  color: #f44336;
  background-color: white;
  border: none;
}

button:hover {
  opacity: 0.8;
}

input {
  width: 60%;
  padding: 10px;
  margin: 18px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}